<br><br><br>
<form class="form-horizontal col-lg-4 col-lg-offset-4" >
  <fieldset>
    <legend>Sign-up</legend>
    <div class="form-group">
      <label for="inputuser" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputuser" placeholder="Username" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputPassword" placeholder="Password" type="password">
      </div>
    </div>
    <div class="form-group">
      <label for="cnfPassword" class="col-lg-2 control-label">Confirm</label>
      <div class="col-lg-10">
        <input class="form-control" id="cnfPassword" placeholder="Confirm Password" type="password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> I am not a robot
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputEmail" placeholder="Email" type="text">
        <div class="checkbox">
          <label>
            <input type="checkbox"> You will receive a confirmation mail
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
